:root {
    --yellow: #e3a14c;
    --gray: #bea5d8;
    --purple: #430074;
}

a {
    text-decoration: none !important;
    color: white !important;
}

.gradient-body {
    background-image: url(./assets/img/gradient-bg.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
  }

.yellow-btn a {
    border-radius: 25px;
    background-color: var(--yellow);
    padding: 7px 60px;
    transition: .4s;
}

.yellow-btn a:hover {
    filter: brightness(92%);
}

.gray-btn a {
    border-radius: 25px;
    background-color:var(--gray);
    padding: 7px 65px;
    transition: .4s;
}

.gray-btn a:hover {
    filter: brightness(92%);
}

.purple-btn a {
    padding: 13px 30px;
    border-radius: 25px;
    background-color: var(--purple);
    transition: .4s;
}

.purple-btn a:hover {
    filter: brightness(92%);
}